server:
  port: 8080

spring:
  data:
    mongodb:
      database: banco
      host: localhost
      port: 27017

---

s3:
  bucket: <s3 buket>
  region: <s3 region>

aws:
  access_key_id: <your key id>
  secret_access_key: <your access key>

